body {
  background-color: #cbf1f5;

}
  hr {

    border-style: none;
    border-top-style: dotted;
    border-color: #52616b;
    height: 0 px;
    border-width: 7px;
    width: 5%

  }
  h1 {
    color: #08d9d6
  }
  h3 {
    color: #66bfbf
  }
